<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', path='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        async function logoutUser() {
            const url = "http://localhost:7777/api/v1/auth/logout";

            await fetch(url, {
                method: 'POST',
            }).then(response => {
                if (response.status === 200) {
                    const data = response.json();
                    sessionStorage.setItem("authenticated", data.authenticated);
                    window.location.href = "/api/v1/pages/login"
                }
            });
        }

        async function updateLoginButton() {
            const loginButtonEl = document.querySelector("#loginButton");
            const authenticated = sessionStorage.getItem("authenticated");

            if (authenticated === "true") {
                loginButtonEl.textContent = "Выйти";
            } else {
                loginButtonEl.textContent = "Войти";
            }
        }
        window.onload = updateLoginButton;
    </script>
    {% block head %}{% endblock %}
    <title>Набронировал</title>
</head>
<body>
    <nav class="mb-10">
        <div class="flex justify-between px-8 py-3 text-2xl">
            <ul>
                <li>
                    <a href="/api/v1/pages/all-hotels">🏩 Отели</a>
                </li>
            </ul>
            <ul class="flex gap-x-5">
                <li><a href="/api/v1/pages/bookings">Мои брони</a></li>
                <li><a href="/api/v1/pages/hotels">Поиск отелей</a></li>
                <li><a href="/api/v1/pages/register">Регистрация</a></li>
                <li>
                    <button id="loginButton" onclick="logoutUser()">Войти</button>
                </li>
            </ul>
        </div>
        <hr/>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>